# This is a sample env that can be used to create a `.env` file for
# docker-compose.
# NB: Docker-compose expects the variable definition in the `VAR=VAL`
# format, and any quotation marks will *not* be stripped from `VAL`.
# Copy this into `.env` and it will be git-ignored.

# The Rails application directory that will be mounted into the container as
# `/home/app/app`.
DORA_HOST_APP_DIR=~/MY_APP

# The host directory for additional volumes, e.g. database.
# Cannot use ${DORA_HOST_APP_DIR} in the value because docker-compose does
# not perform variable substitution recursively.
DORA_HOST_VOL_DIR=~/MY_APP/tmp/dora

# The name of the app. This is mostly informative.
APP_NAME=MY_APP

# Whether to clone and pull from a git repository.
# Since the Rails application is mounted as a  volume, we set this to false.
# The `GIT...` variables are meaningless when `GIT_PULL` is `false`.
GIT_PULL=false

# Name of a user with read access to the repository.
# Leave empty for a repository with public read access.
GIT_USER=

# Password of the above user.
GIT_PASS=

# URL of the repository.
GIT_REPO=https://github.com/ME/MY_APP.git

# Branch to checkout.
GIT_BRANCH=master

# Application environment.
PASSENGER_APP_ENV=development

# Whether to precompile the rails assets.
# During development, this is commonly set to `false`.
RAILS_PRECOMPILE_ASSETS=false

# The database host.
# `db` is the default database host that is defined in `docker-compose.yml`.
RAILS_DB_HOST=db

# Name of the database.
RAILS_DB_NAME=MY_APP

# Database user. Must have write access to the database.
RAILS_DB_USER=MY_APP

# Database password.
RAILS_DB_PASS=MY_APP

# Rails' secret key. This really MUST be kept private!
SECRET_KEY_BASE=

# Secret token that can be used with Git repository webhooks,
# e.g. to automatically trigger application upgrades when pushing to the
# master branch
WEBHOOK_SECRET=
